body{background-color: black !important; color: #fff !important;}

.dice {
  font-size: 320px;
  color: #319e9d;
}
.dice:hover {
  cursor: pointer;
}

.diceDos {
  font-size: 320px;
}
.diceDos:hover {
  cursor: pointer;
}

.ayuda{display: none;}